@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Make sure to check out our list of books in the Book List window!</p>
    <img alt="Snoopy Reading" src="https://i.pinimg.com/736x/c4/86/8f/c4868fc3f718f95e10eb6341e1305bb6.jpg" style="width: 500px;"/>
    <p>If you want to add, edit, or delete a book, just create an account. It's free!</p>

</div>